.Results {
  text-align: start;
  margin-left: 40px;
}

.Results .phonetic {
  font-size: 25px;
  margin-bottom: 20px;
}

.Results h2 {
  color: gray;
  text-decoration: underline;
  text-transform: uppercase;
}

.Results .meaning {
  font-size: 24px;
}

.Meaning .partofspeech {
  margin-left: 35px;
  text-transform: capitalize;
  color: gray;
}

.Meaning .definition {
  margin-left: 50px;
}

.Synonyms li {
  list-style: none;
}
.Meaning span {
  color: gray;
}

.Synonyms span {
  color: gray;
}

.Example span {
  color: gray;
}
